<a href="https://colab.research.google.com/github/rahulbhusari/spark-hands-on/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [34]:
## series 
ser1 = pd.Series([1,2,3,4])
ser2 = pd.Series(np.random.rand(34))
#print(ser2)
#print(type(ser1))
#ser2.to_csv('series_index_False.csv', index =False)

In [61]:
# Dataframe 
columns = ['col1','col2','col3']
df = pd.DataFrame(np.random.rand(10, 5))
df.head(3)

          0         1         2         3         4
0  0.685434  0.724188  0.689312  0.756128  0.818745
1  0.696340  0.974413  0.331562  0.315533  0.268767
2  0.360730  0.990657  0.879905  0.705207  0.191076

In [58]:
 ##  df[columns][index]
 df[2][1]  ## 0.8220947897848552

0.8220947897848552

In [71]:
data = [('rahul','10','pass'),('snehal','10','fail'),('vaishali','10','fail')]
columns = ['name','education','result']
data_df = pd.DataFrame(data, index = columns)
data_df.head(2)

                0   1     2
name        rahul  10  pass
education  snehal  10  fail